.dynamic-form-question {
  /* border: 1px solid #e0e0e0; */
  margin-top: 24px;
  margin-bottom: 8px;
}

.p-card-content {
  padding: 0 !important;
}

.p-card-body {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}