.btnforget {
  background-color: #fff;
  color: #026670;
  text-align: center;
  border-color: #fff;
  font-style: italic;
  margin-top: 5px;
}

.card-login .p-button.p-button-text.p-button-plain {
  color: #026670;
  border-radius: 4px !important;
}
.card-login .p-button.p-button-text.p-button-plain:hover {
  color: #026670;
  background-color: #fce181;
}
.btn-login,
.btn-signup {
  background-color: #026670;
  border: 2px solid #026670 !important;
}
button.p-button.p-component.btn-login:hover {
  color: #026670;
  background-color: #fff;
}


.toast-demo button {
    min-width: 10rem;
    margin-right: .5rem;
}

@media screen and (max-width: 960px) {
    .toast-demo button {
        width: 100%;
        margin-bottom: .5rem;
    }
}